* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
  background-color: rgb(73, 73, 73);
}
.all__buttons {
  display: none;
}
.container {
  max-width: 64rem;
  width: 96%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column-reverse;
}
.meme__photo {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.meme__photo img {
  width: 100%;
  border-radius: 0.7rem;
}

.meme__descr {
  display: flex;
  justify-content: space-between;
  color: white;
}
.wrapper {
  width: 100%;
  flex-basis: 80%;
}
.overflow {
  width: 40rem;
  display: flex;
  overflow: hidden;
}
.descr {
  width: 58rem;
  margin-left: 0.3rem;
  flex-shrink: 0;
  height: 2rem;
}

.controls {
  width: 100%;
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}
.passive {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  /* background-color: rgb(73, 73, 73); */
  background-color: white;
  border: solid white 0.1rem;
}
.passive:hover {
  cursor: pointer;
  border: solid white 0.1rem;
  background-color:rgb(73, 73, 73);
}