* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
  background-color: #494949;
}
.slider {
  max-width: 64rem;
	width: 97%;
	margin: 0 auto;
	margin-top: 0.8rem;
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.radio-button {
  display: none;
}

label {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
	background: #faf9f9;
  margin-right: 0.2rem;
	border-radius: 100%;
  cursor: pointer;
}
.meme__slides {
	flex-basis: 64rem;
	overflow: hidden;
}
.meme__photos {
	width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.meme__photos img{
	width: 100%;
	border-radius: 0.7rem;
}
.slide {
  flex: 0 0 100%;
}
.meme__descr {
	flex-basis: 78%;
}
.buttons {
	text-align: right;
	flex-basis: 20%;
}


#radio1:checked ~ .buttons label:nth-of-type(1),
#radio2:checked ~ .buttons label:nth-of-type(2),
#radio3:checked ~ .buttons label:nth-of-type(3),
#radio4:checked ~ .buttons label:nth-of-type(4){
	background: #494949;
	border: solid  #faf9f9;
}

#radio1:checked ~ .meme__slides .meme__photos {
  transform: translateX(0);
}

#radio2:checked ~ .meme__slides .meme__photos {
  transform: translateX(-100%);
}

#radio3:checked ~ .meme__slides .meme__photos {
  transform: translateX(-200%);
}

#radio4:checked ~ .meme__slides .meme__photos {
  transform: translateX(-300%);
}
